
.images {
    max-width: 100%;
    height: auto;
    margin: 5px; /* some spacing between images */
}

#fileInput {
    display: none;
}

.container {
    position: relative;
    background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 300px; 
    height: auto;
    aspect-ratio: 1; 
    overflow: hidden;
    background-color: grey;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.image-container img {
    width: 100%; 
    max-width: 300px; 
    max-height: 300px; 
    height: auto; 
    position: absolute;
}


.upload {
	display: none;
}
.button-upload {
	display: none;
}

.next-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}
.prev-image {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}
.random-image {
    position: absolute;
    left: 10px;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

.lock-image {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

.like-image {
    position: absolute;
    left: 10px;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

.plus-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none; 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%; 
    border: none; 
    font-size: 16px;
    width: 25px; 
    height: 25px;
    line-height: 25px; 
    text-align: center;
    cursor: pointer; 
}

.plus-button::before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-button input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.delete-button {
    position: absolute;
    top: 40px;
    right: 10px;
    display: none; 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%; 
    border: none; 
    font-size: 16px;
    width: 25px; 
    height: 25px;
    line-height: 25px; 
    text-align: center;
    cursor: pointer; 
}

.delete-button::before {
    content: "-";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
.selection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:2px;
}

.selection label,
.selection select,
.selection .apply {
    margin-right: 10px; /* Spacing between label, select, and apply button */
}

.selection .liked-only {
    margin-right: 10px; 
    margin-left: auto; /* This pushes the following elements to the far right */
}

.selection .random,
.selection .screenshot,
.selection .toggle-background,
.selection .like-image,
.selection .view-all {
    margin-right: 10px;
}

.wall-selection {
    width: 100%;
    margin: 0; 
    display: flex;
    align-items: flex-start; 
    gap: 10px;
    margin-bottom: 2px;
  }
  
.wall-selection h3 {
    margin: 0; 
}
  
.wall-selection .random{
    
    margin-left: auto;
}
 
.wall-labels{
    color: black;
}

.wall-text-input{
    position: absolute;
    left: 50%;
    width: 300px;
    bottom: 10%;
    border: 1px solid #ccc;
    padding: 10px;
    height: 50px;
    transform: translateX(-50%);
    overflow: scroll;
}

